.browse {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browse > * {
  width: 100%;
  max-width: 800px;
}

.browse h1{
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold
}

.modal-title{
  color: darkblue;
  font-weight: bold;
  font-size: 150%
}

.col-sm-6{
  margin-bottom:50px
}

.card{
  border-radius: 40px 40px 40px 40px;
  background: hsla(0, 0%, 100%, 0.85)
}

.card-body{
  text-align:center
}

.title{
  background-color: transparent;
  color: darkblue;
  font-weight: bold;
  font-size: 150%
}

.btn-info{
border-radius: 40px 40px 40px 40px
}

/* Classe per il modal */
.menu-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev {
  float: left;
  border-radius: 70px 70px 70px 70px;
  font-size: 20px
}

.next {
  float: right;
  border-radius: 70px 70px 70px 70px;
  font-size: 20px
}


