.title {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    background-color: black;
    margin-top: 0.8em;
    margin-bottom: 1em;
    padding: 0.3em;
}

.card-board {
    border-radius: 2em 2em 2em 2em;
}

.margin {
    margin-top: 5em;
    margin-bottom: 5em;
}
