<section>
    <h1 class="title">BENVENUTO NELLO STORE!</h1>
    <div class="container">
        <div class="row justify-content-md-center margin">
            <div class="col-lg-6 ">
                <div class="card card-board text-center">
                    <div class="card-body">
                        <p class="card-text font-weight-bold"> Visualizza Film nello store </p>
                        <a href="/films" class="btn btn-dark btn-lg"> FILM </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <div class="card card-board text-center">
                    <div class="card-body">
                        <p class="card-text font-weight-bold"> Visualizzza il tuo storico noleggi </p>
                        <a href="/films_rented" class="btn btn-dark btn-lg"> NOLEGGI </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
