<h1>Benvenuto nel nostro store!</h1>

<div class="row"  >
  <div class="col-sm-6" >
    <div class="card">
      <div class="card-body" style= "text-align:center">
        <p class="card-text"> Consulta tutti i film disponibili nel nostro store e non aspettare a prenotarne uno!</p>
        <a href="/dvds" class="btn btn-primary">Visualizza i film disponibili</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style= "text-align:center">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/rent" class="btn btn-primary"  >Visualizza i tuoi film noleggiati</a>
      </div>
    </div>
  </div>
</div>








