<span class="" style="display: inline-block; height: 100px;"></span>
<h1 class="title">{{'Benvenuto nel nostro store!'| uppercase}}</h1>
<span style="display: inline-block; height: 150px;"></span>

<div class="row"  >
  <div class="col-sm-6" >
    <div class="card" >
      <div class="card-body" >
        <p class="card-text" > Consulta tutti i film disponibili nel nostro store </p>
        <a href="/films" class="btn btn-primary" >Visualizza i film</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" >
      <div class="card-body" >
        <p class="card-text"> Visualizzza il tuo storico noleggi.</p>
        <a href="/films_rented" class="btn btn-primary"  >Visualizza i tuoi film</a>
      </div>
    </div>
  </div>
</div>








