.browse {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browse > * {
  width: 100%;
  max-width: 800px;
}

.tableStyle {
  margin-top: 16px;
  margin-bottom: 16px;
  border-collapse: collapse;
  border: 1px solid #bbbbbb;
  background: hsla(0, 0%, 100%, 0.85);
}

.top {
  background: darkseagreen;
  text-size-adjust: auto;
}

.nameTitle {
  background-color: transparent;
  color: darkblue;
  font-weight: bold;
}

.prev {
  float: left;
  border-radius: 70px 70px 70px 70px;
  font-size: 20px
}

.next {
  float: right;
  border-radius: 70px 70px 70px 70px;
  font-size: 20px
}

button.selected {
  background-color: black;
  color: white;
}

button.selected:hover {
  background-color: #505050;
  color: white;
}

button.selected:active {
  background-color: black;
  color: white;
}

.space {
  display: inline-block;
  height: 50px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.curve {
  border-radius: 70px 70px 70px 70px;
  font-size: 20px;
}

.index {
  margin: auto;
  width: 45%;
}




.browse h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold
}

.modal-title {
  color: darkblue;
  font-weight: bold;
  font-size: 150%
}


.title {
  background-color: transparent;
  color: darkblue;
  font-weight: bold;
  font-size: 150%
}

.btn-info {
  border-radius: 40px 40px 40px 40px
}

.menu-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

input {
  padding: .5rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
}

input:focus {
  outline: #336699 auto 1px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}







