<div class="browse">
  <span style="display: inline-block; height: 100px;"></span>
  <h1 style="color: white; text-align: center; font-size: 30px; font-weight: bold">La tua cronologia di film noleggiati</h1>
  <span style="display: inline-block; height: 50px;"></span>

  <table style="background-color: white; background: hsla(0, 0%, 100%, 0.85)">
    <thead>
    <tr style="background-color: #444444; text-size-adjust: auto; color: white">
      <th>Title</th>
      <th>Genere</th>
      <th>Language</th>
      <th>Anno</th>
      <th>Data riconsegna</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let film of films ">
      <td> <button type="button" class="btn" data-toggle="modal" (click)="onSelect(film)" data-target="#myModal" style="background-color: transparent; color: darkblue; font-weight: bold ">{{ film.title }} </button></td>
      <td>{{ film.genre }}</td>
      <td>{{ film.language }}</td>
      <td>{{film.release_year}}</td>
      <td>{{film.return_date}}</td>
    </tr>
    </tbody>
  </table>

          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title" style="text-align: center">{{selectedFilm.title}}</h4>
                </div>
                <div class="modal-body">
                  <p>{{selectedFilm.description}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>


  <div class="pager" >
    <button class="prev btn btn-info btn-lg" style="border-radius: 70px 70px 70px 70px; font-size: 20px " *ngIf="showPrevious()" (click)="onPrevious()"> PREV </button>
    <div *ngFor="let index of list_index">
      <button class="prev btn btn-info btn-lg" style="border-radius: 70px 70px 70px 70px; font-size: 20px " [class.selected]="index === selectedIndex" (click)="jump(index)"> {{index}} </button>
    </div>
    <button class="next btn btn-info btn-lg" style="border-radius: 70px 70px 70px 70px;  font-size: 20px " *ngIf="showNext()" (click)="onNext()"> NEXT</button>
  </div>

  <span style="display: inline-block; height: 50px;"></span>
</div>
