.title {
    color: white;
    font-size: 3em;
    font-weight: bold;
    background-color: black;
}

button.selected {
    background-color: black;
    color: white;
}

button.selected:hover {
    background-color: #505050;
    color: white;
}
