.browseMyStyle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    background-color: black;
    margin-top: 0.8em;
    margin-bottom: 1em;
    padding: 0.3em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.element {
    flex: 50%;
    margin-bottom: 2em;
}

.selectedMyStyle {
    color: blue;
}

.selectedMyStyle:hover {
    border-color: black;
}

.selectedMyStyle:visited {
    color: red;
}

a.selected {
    background-color: black;
    color: white;
    border-width: thin;
    border-color: black;
}

a.selected:hover {
    background-color: lightgray;
    color: black;
    border-width: initial;
}
