<main>
    <div class="container text-center">
        <div class="row justify-content-center mt-4">
            <div class="col col-lg-8">
                <h1 class="title text-center">STORE DVD</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div *ngIf="sessionExpired" class="alert alert-danger alert-dismissible fade show" role="alert"
                     aria-live="assertive">
                    <strong>Sessione scaduta!</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div role="form" class="card">
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-outline mb-2">
                                <label for="usernameForm"> <strong> Username: *</strong></label>
                                <input aria-label="username" id="usernameForm" type="text" formControlName="username"
                                       placeholder="username" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>
                                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                    <div *ngIf="f['username'].errors?.['required']">
                                        <p>Username is required</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <label for="passwordForm"> <strong>Password: *</strong> </label>
                                <input aria-label="password" id="passwordForm" type="password"
                                       formControlName="password" placeholder="password" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors?.['required']">
                                        <p>Password is required</p>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-dark btn-block" type="submit" aria-label="login"> LogIn</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
