<h2 mat-dialog-title class="font-weight-bold" id="detailsTitle" tabindex="0">
    {{film.title}}
    <button mat-button mat-dialog-close type="button" class="Close" aria-label="Chiudi dettagli">
        <span aria-hidden="true">&times;</span>
    </button>
</h2>
<mat-dialog-content class="mat-typography">
    <h3 tabindex="0">Dettagli film</h3>
    <ul class="list-group">
        <li class="list-group-item" tabindex="0"><strong>Anno:</strong>
            <ul>
                <li>{{film.release_year}}</li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0"><strong>Genere:</strong>
            <ul>
                <li>{{film.genre}}</li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0"><strong>Lingua:</strong>
            <ul>
                <li>{{film.language}}</li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0"><strong>Rating:</strong>
            <ul>
                <li>{{film.rating}}</li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0"><strong>Costo:</strong>
            <ul>
                <li>{{film.rental_rate}} €</li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0"><strong>Attori:</strong>
            <ul>
                <li *ngFor="let actor of actors"> {{actor.first_name}} {{actor.last_name}} </li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0" ><strong>Descrizione:</strong>
            <ul lang="en">
                <li >{{film.description}}</li>
            </ul>
        </li>
    </ul>
    <div *ngIf="!inRented">
        <div *ngIf="!noStores" class="container mt-4">
            <div class="row mb-3" *ngIf="confirm">
                <div class="col">
                    <div class="dropdown">
                        <p>Seleziona store</p>
                        <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="store">
                            {{selectedStore.city}}
                        </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" *ngFor="let store of stores" (click)="onSelectStore(store)"> Store:{{store.city}},
                                Indirizzo:{{store.address}}
                            </button>
                        </div>-->
                    </div>
                    <div class="list-group">
                        <button class="list-group-item list-group-item-action" data-toggle="list" *ngFor="let store of stores" (click)="onSelectStore(store)">
                            Store:{{store.city}},
                            Indirizzo:{{store.address}}
                        </button>
                    </div>
                </div>

                <div class="col">
                    <div class="dropdown">
                        <p>Data inizio noleggio</p>
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                aria-label="data prenotazione">
                            {{selectedDate |date: 'dd/MM/yyyy'}}
                        </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" (click)="onSelectDate(today)">
                                Oggi: {{today | date: 'dd/MM/yyyy'}}</button>
                            <button class="dropdown-item" (click)="onSelectDate(tomorrow)">
                                Domani: {{tomorrow | date: 'dd/MM/yyyy'}}</button>
                            <button class="dropdown-item" (click)="onSelectDate(afterTomorrow)">
                                Dopodomani: {{afterTomorrow | date: 'dd/MM/yyyy'}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="!confirm" class="col alert alert-warning alert-dismissible fade show" role="alert" aria-live="assertive">
                    <p class="small">
                        Confermi la prenotazione del film <strong>{{film.title}}</strong>
                        nello store di <strong>{{selectedStore.city}}</strong> in data <strong>{{selectedDate.toISOString().slice(0, 19).replace('T', ' ')}}</strong>
                    </p>
                    <button mat-button mat-dialog-close [mat-dialog-close]="film.title" class="btn btn-danger" type="button" (click)="rent()" aria-label="conferma prenotazione" cdkFocusRegionStart>
                        Conferma
                    </button>
                    <button mat-button mat-dialog-close class="btn ml-3 btn-danger" type="button" (click)="setConfirm(true)" aria-label="annulla prenotazione">
                        Annulla
                    </button>
                    <button mat-button mat-dialog-close type="button" class="close" aria-label="Annulla prenotazione" (click)="setConfirm(true)" cdkFocusRegionEnd>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!inRented">
    <div *ngIf="!noStores" class="container mt-4">
        <button *ngIf="confirm" type="button" class="btn btn-primary" [disabled]="validRent" (click)="setConfirm(false)" aria-label="prenota">
            Prenota
        </button>
    </div>

    <div class="container">
        <div class="row">
            <div *ngIf="noStores" class="col alert alert-success">
                <strong tabindex="0"> Non ci sono DVD disponibili </strong>
                <button mat-button mat-dialog-close type="button" class="btn-close" aria-label="Close">
                    <span class="ml-4" aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</mat-dialog-actions>
