<h2 mat-dialog-title class="font-weight-bold" id="detailsTitle" tabindex="0">
    {{film.title}}
    <button mat-dialog-close type="button" class="btn btn-close" aria-label="Close details">
        <span aria-hidden="true">&times;</span>
    </button>
</h2>
<mat-dialog-content class="mat-typography">
    <h3 tabindex="0">Film details:</h3>
    <ul class="list-group">
        <li class="list-group-item" tabindex="0"><strong>Year:</strong>
            <ul>
                <li>{{film.release_year}}</li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0"><strong>Genre:</strong>
            <ul>
                <li>{{film.genre}}</li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0"><strong>Language:</strong>
            <ul>
                <li>{{film.language}}</li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0"><strong>Rating:</strong>
            <ul>
                <li>{{film.rating}}</li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0"><strong>Cost:</strong>
            <ul>
                <li>{{film.rental_rate}} €</li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0"><strong>Actors:</strong>
            <ul>
                <li *ngFor="let actor of actors"> {{actor.first_name}} {{actor.last_name}} </li>
            </ul>
        </li>
        <li class="list-group-item" tabindex="0" lang="en" ><strong>Description:</strong>
            <ul >
                <li >{{film.description}}</li>
            </ul>
        </li>
    </ul>
    <div *ngIf="!inRented">
        <div *ngIf="!noStores" class="container mt-4">
            <div *ngIf="!confirm" class="row mb-3">
                <div class="col mb-1">
                    <div class="dropdown">
                        <p tabindex="0"><strong>Select store</strong></p>
                        <button class="btn btn-secondary dropdown-toggle mr-1" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="store">
                            Store
                        </button>
                        <div class="dropdown-menu" cdkTrapFocus>
                            <button class="dropdown-item" *ngFor="let store of stores" (click)="onSelectStore(store)">
                                <em>{{store.city}}</em>, {{store.address}}
                            </button>
                        </div>
                        <input [(ngModel)]="selectedStore.city" disabled tabindex="0">
                    </div>
                </div>

                <div class="col">
                    <div class="dropdown">
                        <p tabindex="0"><strong>Rental start date</strong></p>
                        <button class="btn btn-secondary dropdown-toggle mr-1" type="button" id="dropdownMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                aria-label="prenotation date">
                            Date
                        </button>
                        <div class="dropdown-menu" cdkTrapFocus>
                            <button class="dropdown-item" (click)="onSelectDate(today)">
                                Today: {{today | date: 'dd/MM/yyyy'}}</button>
                            <button class="dropdown-item" (click)="onSelectDate(tomorrow)">
                                Tomorrow: {{tomorrow | date: 'dd/MM/yyyy'}}</button>
                            <button class="dropdown-item" (click)="onSelectDate(afterTomorrow)">
                                After-tomorrow: {{afterTomorrow | date: 'dd/MM/yyyy'}}</button>
                        </div>
                        <input [(ngModel)]="selectedDate" disabled >
                    </div>
                </div>
            </div>
            <div *ngIf="confirm" class="row">
                <div class="col alert alert-warning alert-dismissible fade show" role="alert" aria-live="assertive">
                    <p class="small">
                        Do you confirm the reservation of the movie <strong>{{film.title}}</strong>
                        in the <strong>{{selectedStore.city}}</strong> store on <strong>{{selectedDate}}</strong>
                    </p>
                    <button mat-dialog-close [mat-dialog-close]="film.title" class="btn btn-success" type="button" (click)="rent()" aria-label="confirm prenotation" cdkFocusRegionStart>
                        Confirm
                    </button>
                    <button mat-dialog-close class="btn ml-3 btn-danger" type="button" aria-label="cancel prenotation">
                        Cancel
                    </button>
                    <button mat-button type="button" class="close" aria-label="cancel prenotation" (click)="setConfirm(false)" cdkFocusRegionEnd>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!inRented">
    <div class="container mt-4">
        <div *ngIf="!noStores" class="row">
            <div class="col">
                <span *ngIf="error" class="text-danger">Insert store!</span>
                <button *ngIf="!confirm" type="button" class="btn btn-lg btn-primary ml-2" (click)="setConfirm(true)" aria-label="rent">
                    Rent
                </button>
            </div>
        </div>

        <div *ngIf="noStores" class="row">
            <div class="alert alert-primary col">
                <strong tabindex="0"> There are no DVDs available </strong>
                <button mat-button mat-dialog-close type="button" class="btn btn-close" aria-label="Close">
                    <span class="ml-4" aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</mat-dialog-actions>
