<section [style.fontSize.em]="fontSize">
    <div class="container">
        <div class="row mt-4 justify-content-center">
            <div class="col col-lg-8">
                <h1 class="title text-center" tabindex="0"> FILMS </h1>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div *ngIf="rented" class="alert alert-success alert-dismissible fade show" role="alert" aria-live="assertive">
                    <button class="btn btn-link" type="button" routerLink="/films_rented"
                            aria-label="View rented movies">
                        <strong>{{rentedFilmTitle}}</strong>
                    </button>
                    rented with success.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close notice">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col col-lg-4 dropdown">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuBtn"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="order by category">
                    {{selectedCategory.name}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuBtn">
                    <button type="button" class="dropdown-item" (click)="noFilter()"> Nothing </button>
                    <button type="button" class="dropdown-item" *ngFor="let category of categories" (click)="filter(category)">{{category.name}}</button>
                </div>
            </div>

            <div role="search" class="col">
                <div (blur)="clearSearch()" cdkTrapFocus>
                    <input id="search-box" class="form-control" aria-label="Search by title" placeholder="Search by title:" type="search"
                           (input)="search(searchString)" [(ngModel)]="searchString"/>
                    <button type="button" class="btn dropdown-item search-container" *ngFor="let film of films$ | async" (click)="openDialog(film)">
                        {{ film.title }}
                    </button>
                </div>
            </div>

            <div class="col">
                <button type="button" class="btn btn-lg" (click)="increaseFontSize()" [disabled]="isIncreased"
                        aria-label="increase text">+
                </button>
                <button type="button" class="btn btn-lg" (click)="decreaseFontSize()" [disabled]="!isIncreased"
                        aria-label="decrease text">-
                </button>
            </div>
        </div>

        <div class="row" aria-label="All movies available in our store:">
            <div role="main" class="col-lg-6 mb-4" *ngFor="let film of films">
                <div class="card card-board text-center" tabindex="0">
                    <div class="card-body" >
                        <button mat-raised-button type="button" class="card-title btn btn-default" (click)="openDialog(film)" [style.fontSize.em]="fontSize">{{film.title}}</button>
                        <article class="card-text text-truncate">
                            <p><strong>Year:</strong> {{film.release_year}} <strong>Genre:</strong> {{film.genre}} </p>
                            <p><strong>Language:</strong> {{film.language}} <strong>Rating:</strong>{{film.rating}}</p>
                            <p class="font-weight-bold"> Daily cost: {{film.rental_rate}} €</p>
                        </article>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-dark btn-block" (click)="openDialog(film)">Rent</button>
                    </div>
                </div>
            </div>
        </div>

        <mat-paginator #paginator
                       class="mt-0"
                       (page)="handlePageEvent($event)"
                       [length]="length"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="showFirstLastButtons"
                       [hidePageSize]="hidePageSize"
                       [pageIndex]="pageIndex"
                       aria-label="Select page">
        </mat-paginator>
    </div>
</section>
