.title {
    color: white;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
    font-weight: bold;
    background-color: black;
    margin-top: 0.8em;
    padding: 0.3em;
}

.card-board {
    border-radius: 2em 2em 2em 2em;
}

.margin {
    margin-bottom: 2em;
}

.search-container {
    position: absolute;
    background-color: white;
    z-index: 1;
}

.search {
    position: relative;
    width: 10em;
    padding: .6em;
}

.dropdown-menu {
    z-index: 1;
    position: relative;
}

button.selected {
    background-color: black;
    color: white;
}

button.selected:hover {
    background-color: #505050;
    color: white;
}

button.selected:active {
    background-color: black;
    color: white;
}

a.selected {
    background-color: black;
    color: white;
    border-width: thin;
    border-color: black;
}

a.selected:hover {
    background-color: darkgrey;
    color: white;
}



