.title {
    color: white;
    font-size: 3em;
    font-weight: bold;
    background-color: black;
    padding: 0.1em;
}

.card-board {
    border-radius: 2em 2em 2em 2em;
}

.search-container {
    position: absolute;
    background-color: white;
    z-index: 2;
}




