<section [style.fontSize.em]="fontSize">
    <div class="container">
        <div class="row mt-4 justify-content-center">
            <div class="col col-lg-8">
                <h1 class="title"> FILM </h1>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div *ngIf="rented" class="alert alert-success alert-dismissible fade show" role="alert"
                     aria-live="assertive">
                    <button class="btn btn-link" type="button" routerLink="/films_rented"
                            aria-label="Visualizza i film noleggiati"><strong>{{rentedFilm.title}}</strong></button>
                    noleggiato con successo.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col col-lg-4 dropdown">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuBtn"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        aria-label="ordina per categoria">
                    {{selectedCategory.name}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuBtn">
                    <button type="button" class="dropdown-item" *ngFor="let category of categories" (click)="filter(category)">{{category.name}}</button>
                </div>
            </div>
            <div role="search" class="col">
                <input id="search-box" class="form-control" placeholder="Cerca per Titolo:" type="search"
                       #searchBox (input)="search(searchBox.value)" aria-label="Ricerca per nome"/>
                <div class="search-container">
                    <button type="button" class="dropdown-item" data-toggle="modal" *ngFor="let film of films$ | async"
                            (click)="onSelect(film)" data-target="#myModal"
                            [style.fontSize.em]="fontSize">{{ film.title }}</button>
                </div>
            </div>
            <div class="col">
                <button type="button" class="btn btn-lg" (click)="increaseFontSize()" [disabled]="isIncreased"
                        aria-label="aumenta testo">+
                </button>
                <button type="button" class="btn btn-lg" (click)="decreaseFontSize()" [disabled]="!isIncreased"
                        aria-label="diminuisci testo">-
                </button>
            </div>
        </div>

        <div class="row" aria-label="Tutti i film disponibili nel nostro store:">
            <div role="main" class="col-lg-6 mb-4" *ngFor="let film of films">
                <div class="card card-board text-center">
                    <div class="card-body">
                        <button type="button" class="card-title btn btn-default" data-toggle="modal"
                                (click)="onSelect(film)" data-target="#myModal" >{{film.title}}</button>
                        <article class="card-text text-truncate">
                            <p><strong>Anno:</strong> {{film.release_year}} <strong>Genere:</strong> {{film.genre}} </p>
                            <p><strong>Lingua:</strong> {{film.language}} <strong>Rating:</strong>{{film.rating}}</p>
                            <p class="font-weight-bold"> Costo: {{film.rental_rate}} €</p>
                        </article>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-dark btn-block" data-toggle="modal"
                                (click)="onSelect(film)" data-target="#myModal"> Prenota
                        </button>
                    </div>
                    <div cdkTrapFocus>
                        <div id="myModal" class="modal fade menu-popup" role="dialog" aria-modal="true" aria-live="assertive">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="font-weight-bold" id="detailsTitle" >
                                            {{selectedFilm.title}}
                                        </h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group">
                                            <li class="list-group-item"><strong>Anno:</strong>
                                                <ul>
                                                    <li>{{selectedFilm.release_year}}</li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item"><strong>Genere:</strong>
                                                <ul>
                                                    <li>{{selectedFilm.genre}}</li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item"><strong>Lingua:</strong>
                                                <ul>
                                                    <li>{{selectedFilm.language}}</li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item"><strong>Rating:</strong>
                                                <ul>
                                                    <li>{{selectedFilm.rating}}</li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item"><strong>Costo:</strong>
                                                <ul>
                                                    <li>{{selectedFilm.rental_rate}} €</li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item"><strong>Attori:</strong>
                                                <ul>
                                                    <li *ngFor="let actor of actors"> {{actor.first_name}} {{actor.last_name}} </li>
                                                </ul>
                                            </li>
                                            <li class="list-group-item"><strong>Descrizione:</strong>
                                                <ul>
                                                    <li>{{selectedFilm.description}}</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>

                                    <div *ngIf="noStores" class="container">
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="dropdown">
                                                    <p>Seleziona store</p>
                                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                                            id="dropdownMenuButton"
                                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                            aria-label="store">
                                                        {{selectedStore.city}}
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <button class="dropdown-item" *ngFor="let store of stores"
                                                                (click)="selectStore(store)"> Store:{{store.city}},
                                                            Indirizzo:{{store.address}}</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="dropdown">
                                                    <p>Data inizio noleggio</p>
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu"
                                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                            aria-label="data prenotazione">
                                                        {{selectedDate |date: 'dd/MM/yyyy'}}
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <button class="dropdown-item" (click)="onSelectDate(today)">
                                                            Oggi: {{today | date: 'dd/MM/yyyy'}}</button>
                                                        <button class="dropdown-item" (click)="onSelectDate(tomorrow)">
                                                            Domani: {{tomorrow | date: 'dd/MM/yyyy'}}</button>
                                                        <button class="dropdown-item" (click)="onSelectDate(afterTomorrow)">
                                                            Dopodomani: {{afterTomorrow | date: 'dd/MM/yyyy'}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="noStores" class="modal-footer">
                                        <div *ngIf="!confirm" class="alert alert-warning alert-dismissible fade show" role="alert"
                                             aria-live="assertive">
                                            <p>Prima di procedere con la prenotazione
                                                controlla lo store e la data.
                                                Una volta confermato non puoi più annullare
                                                la prenotazione</p>
                                            <button (click)="rent()" data-dismiss="modal" class="btn btn-danger" type="button" routerLink="/films"
                                                    aria-label="conferma prenotazione">Conferma
                                            </button>
                                            <button class="btn ml-3 btn-danger" type="button" data-dismiss="modal" routerLink="/films" (click)="setConfirm(true)"
                                                    aria-label="conferma prenotazione">Annulla
                                            </button>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="/films" (click)="setConfirm(true)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <button *ngIf="confirm" type="button" class="btn btn-primary" [disabled]="validRent"
                                                (click)="setConfirm(false)" aria-label="prenota"> Prenota
                                        </button>
                                    </div>

                                    <div *ngIf="!noStores" class="alert alert-success alert-dismissible fade show"
                                         aria-live="assertive">
                                        <strong> Non ci sono DVD disponibili </strong>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div role="navigation" class="row justify-content-center">
            <nav aria-label="paginazione">
                <ul class="pagination pagination-lg">
                    <li class="page-item">
                        <button type="button" aria-label="indietro" class="page-link" *ngIf="showPrevious(0)"
                                (click)="onPrevious()"> <
                        </button>
                    </li>
                    <li class="page-item">
                        <button type="button" class="page-link" *ngIf="showPrevious(10)"
                                (click)="jump(current_page-2)"> {{current_page - 2}}</button>
                    </li>
                    <li class="page-item">
                        <button type="button" class="page-link" *ngIf="showPrevious(0)"
                                (click)="jump(current_page-1)"> {{current_page - 1}}</button>
                    </li>
                    <li class="page-item">
                        <button type="button" class="page-link" [class.selected]="true"
                                (click)="jump(current_page)"> {{current_page}} </button>
                    </li>
                    <li class="page-item">
                        <button type="button" class="page-link" *ngIf="showNext(0)"
                                (click)="jump(current_page+1)"> {{current_page + 1}} </button>
                    </li>
                    <li class="page-item">
                        <button type="button" class="page-link" *ngIf="showNext(10)"
                                (click)="jump(current_page+2)"> {{current_page + 2}} </button>
                    </li>
                    <li class="page-item">
                        <button type="button" aria-label="avanti" class="page-link" *ngIf="showNext(0)"
                                (click)="onNext()"> >
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
