.title {
    color: white;
    font-size: 3em;
    font-weight: bold;
    background-color: black;
}

.card-board {
    border-radius: 2em 2em 2em 2em;
}

.search-container {
    position: absolute;
    background-color: white;
    z-index: 2;
}

.search {
    position: relative;
    width: 10em;
    padding: .6em;
}

.dropdown-menu {
    z-index: 1;
    position: relative;
}

button.selected {
    background-color: black;
    color: white;
}

button.selected:hover {
    background-color: #505050;
    color: white;
}



