<div class="browse">
  <h1>Films dispinibili</h1>
  <table>
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>length</th>
      <th>description</th>
    </tr>
    <tr *ngFor="let film of films">
      <td><a routerLink="/detail/{{film.film_id}}">{{film.film_id}}></a></td>
      <td>{{film.title}}</td>
      <td>{{film.length}}</td>
      <td>{{film.description}}</td>
    </tr>
  </table>
  <div class="pager">
    <button class="prev" *ngIf="showPrevious()" (click)="onPrevious()"> prev </button>
    <button class="next" *ngIf="showNext()" (click)="onNext()"> next </button>
  </div>
</div>
