<div class="browse">
  <h1>Films dispinibili</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>length</th>
      <th>description</th>
    </tr>
    <tr *ngFor="let film of films">
      <td><a [routerLink]="['/character']" [queryParams]="{name: film.title}">{{film.title}}</a></td>
      <td>{{film.length}}</td>
      <td><a [routerLink]="['/species']" [queryParams]="{name: film.description}">{{film.description}}</a></td>
    </tr>
  </table>
  <div class="pager">
    <button class="prev" *ngIf="showPrevious()" (click)="onPrevious()"> prev </button>
    <button class="next" *ngIf="showNext()" (click)="onNext()"> next </button>
  </div>
</div>

<!--
<li *ngFor="let dvd of dvds">
      <a routerLink="/detail/{{dvd.id}}">
        <span class="id">{{dvd.id}}</span><span>{{dvd.name}}</span>
      </a>
    </li>
-->
