* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center; /* Allinea il testo al centro */
  font-weight: bold;
  font-size: 106px; /* Imposta la dimensione del carattere */
  color: white; /* Imposta il colore del testo */
}

h2, h3 {
  color: #444;
  font-weight: lighter;
}


body {
  padding: .5rem;
  max-width: 1000px;
  margin: auto;
  background-image: url('./assets/sfondo.jpg');
  background-size: cover; /* Per coprire l'intera area dello sfondo */
  background-repeat: repeat; /* Per impedire la ripetizione dello sfondo */
}
